body {
    background-color:#FFF;
    padding:0;
    margin:0;
    box-sizing: border-box;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

.title_bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    background-color: #0168B5;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    padding: 12px;
    box-shadow: 1px 1px 8px #AAAAAA;
}

.title_bar h1 {
    color: white;
    padding: 0;
    margin: 0;
    user-select: none;
    font-size: 28px;
}

.title_bar_left {
    flex-grow: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    box-sizing:border-box;
}

.title_bar_right {
    flex-grow: 1;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    box-sizing: border-box;
}

.title_bar_right a {
    flex-grow: 0;
    color: white;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    user-select: none;
    text-decoration: none;
    background-color: #0168B5;
    transition: background-color 0.4s;
    border-radius:5px;
}

.title_bar_right a:hover {
    background-color: #328dd3;
}

.main_section {
    margin-top: 70px;
    width: 100%;
    box-sizing: border-box;
    padding: 25px;
    margin-bottom: 50px;
    background-color:#EBF5FC;
}

.main_section h1{
    color:#007ACC;
    font-size:42px;
    text-align:center;
    width:100%;
    padding:0;
    margin:0;
    margin-top:30px;
}

.main_section p {
    color:#748596;
    font-size:18px;
    word-wrap: break-word;
    word-break: break-all;
    width: 300px;
    margin:0;
    margin-top:30px;
    margin-left:calc(50% - 150px);
    padding:0;
    text-align: center;
}

.main_section_button_block {
    padding:0;
    margin-top:50px;
    text-align: center;
}

.use_button {
    text-transform: uppercase;
    font-size: 14px;
    border-width: 2px;
    border-color:#A6C5EB;
    color:#65788F;
    user-select: none;
    border-style: solid;
    border-radius: 5px;
    padding: 15px 30px 13px;
    display: inline-block;
    line-height: 1em;
    margin: 0 8px;
    margin-top:8px;
    transition: border-color 0.4s, color 0.4s, box-shadow 0.4s;
    text-decoration: none;
}

.use_button:hover {
    border-color:#889FBB;
    color:#889FBB;
    box-shadow: 0px 0px 4px #AAAAAA;
}

.body_button {
    text-transform: uppercase;
    font-size: 14px;
    border-width: 2px;
    border-color:#A6C5EB;
    color:#65788F;
    user-select: none;
    border-style: solid;
    border-radius: 5px;
    padding: 15px 30px 13px;
    display: inline-block;
    line-height: 1em;
    margin: 0 8px;
    margin-top:8px;
    transition: border-color 0.4s, color 0.4s, box-shadow 0.4s;
    text-decoration: none;
}

.body_button:hover {
    border-color:#889FBB;
    color:#889FBB;
    box-shadow: 0px 0px 4px #AAAAAA;
}

.info_section {
    width:100%;
    box-sizing: border-box;
    padding-left:80px;
    padding-right:80px;
    padding-top:25px;
    padding-bottom: 25px;
    display:flex;
    flex-wrap: wrap;
    margin-top:50px;
    min-height:400px;
}

.info_section_two {
    background-color: #EBF5FC;
    min-height:450px;
}

.info_section_left {
    flex-grow: 1;
    max-width:50%;
}

.info_section_left h1{
    color:#007ACC;
    font-size:32px;
    width:100%;
    padding:0;
    margin:0;
}

.info_section_left h4 {
    color:#3C5675;
    font-size:20px;
    word-wrap: break-word;
    margin:0;
    padding:0;
    padding-right:50px;
    margin-top:20px;
    font-weight: 500;
}

.info_section_left p {
    color:#748596;
    font-size:18px;
    word-wrap: break-word;
    margin:0;
    padding:0;
    padding-right:50px;
    margin-top:20px;
}

.info_section_right {
    flex-grow: 1;
    padding:10px;
    max-width:50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height:200px;
    border-radius:5px;
}

.contact_section {
    width: 100%;
    margin-top:50px;
    padding:40px;
    box-sizing: border-box;
    background-color: #EBF5FC;
    display:flex;
    flex-wrap: wrap;
}

.contact_section h1{
    color:#0168B5;
    font-size:32px;
    width:100%;
    padding:0;
    margin:0;
    text-align: center;
    margin-bottom: 20px;
}

.contact_section h2 {
    color:#328dd3;
    padding:0;
    margin:0;
    margin-bottom:10px;
}

.contact_section p {
    color:#748596;
    font-size:18px;
    word-wrap: break-word;
    margin:0;
    padding:0;
}

.contact_section_left {
    flex-grow: 1;
    padding:10px;
    max-width:50%;
    min-height:200px;
    box-sizing: border-box;
}

.contact_section_right {
    flex-grow: 1;
    padding:10px;
    max-width:50%;
    min-height:200px;
    box-sizing: border-box;
}

.bottom_section {
    width: 100%;
    margin-top:50px;
    padding:40px;
    box-sizing: border-box;
}

.bottom_section h1{
    color:#007ACC;
    font-size:32px;
    width:100%;
    padding:0;
    margin:0;
    text-align: center;
}

.bottom_section h4 {
    color:#3C5675;
    font-size:20px;
    word-wrap: break-word;
    margin:0;
    padding:0;
    margin-top:20px;
    text-align: center;
    font-weight:500;
}

.bottom_section p {
    color:#748596;
    font-size:18px;
    word-wrap: break-word;
    word-break: break-all;
    margin:0 auto;
    padding:0;
    margin-top:40px;
    width:100%;
    max-width: 600px;
}

.foot_section {
    width: 100%;
    padding:20px;
    color:#3C5675;
    margin-top:50px;
    box-sizing:border-box;
}

.foot_section_link_div {
    text-align: center;
}

.foot_section_link {
    text-transform: uppercase;
    font-size: 15px;
    border-width: 2px;
    color:#65788F;
    user-select: none;
    padding: 15px;
    display: inline-block;
    line-height: 1em;
    margin: 0 8px;
    margin-top:8px;
    border:1px solid;
    border-color:white;
    transition: color 0.4s, border-color 0.4s;
    border-radius: 5px;
    text-decoration: none;
}

.foot_section_link:hover {
    color:#007ACC;
    border:1px solid;
    border-radius: 5px;
    border-color:#007ACC;
}

.foot_section p {
    color:#748596;
    font-size:15px;
    word-wrap: break-word;
    word-break: break-all;
    margin:0 auto;
    padding:0;
    width:100%;
    max-width: 500px;
    margin-top:20px;
    text-align: center;
    margin-bottom:40px;
}

@media screen and (max-width: 700px) {
    .info_section {
        padding-left:25px;
        padding-right:25px;
    }

    .info_section_left p {
        padding-right:0;
    }

    .info_section_left h4 {
        padding-right:0;
    }

    .info_section_left {
        max-width: 100%;
    }

    .info_section_right {
        max-width: 100%;
        margin-top:40px;
    }

    .contact_section {
        flex-direction: column;
    }

    .contact_section_left {
        max-width: 100%;
    }

    .contact_section_right {
        max-width: 100%;
        margin-top:40px;
    }

    .use_button {
        width: 70%;
    }

}
  
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
}